<h1><%= @track[:name] %></h1>

<%= ugly_lyrics(@track.lyrics) %>

<%= render "notes/form", track: @track %>

<h2>Saved notes</h2>
<% @track.notes.each do |note| %>
  <%= render "notes/note", note: note %>
<% end %>

<h2>Links</h2>
<ul>
  <% if current_user.admin %>
    <li><%= link_to "Edit track", edit_track_url(@track), action: "edit"%></li>
    <li><%= link_to "Delete track", track_url(@track), method: :delete %></li>
  <% end %>
  <li><%= link_to "Back to album", album_url(@album), action: "" %></li>
</ul>
