<h1><%= @track[:name] %></h1>

<p>Lyrics: <%= @track.lyrics %></p>

<br>

<%= link_to "Edit track", edit_track_url(@track), action: "edit"%>

<br>

<%= button_to "Delete track", track_url(@track), method: :delete %>

<br>

<%= link_to "Back to album", album_url(@album), action: "" %>
