<h1><%= @band[:name] %></h1>

<h2>Albums</h2>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album[:name], album_url(album), action: "show" %></li>
  <% end %>
</ul>

<h2>Links</h2>
<ul>
  <% if current_user.admin %>
    <li><%= link_to "Edit band", edit_band_url(@band), action: "edit"%></li>
    <li><%= link_to "Add album", new_band_album_url(@band), action: "new"%></li>
    <li><%= link_to "Delete band", band_url(@band), method: :delete %></li>
  <% end %>
  <li><%= link_to "Back to bands", bands_url, action: "index" %></li>
</ul>
