<h1>Edit <%= @album.name %></h1>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="name">Name: </label>
  <input type="text"
         name="album[name]"
         id="name"
         value="<%= @album.name %>">

  <br>

  <label for="band_id">Band: </label>
  <select name="album[band_id]">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>"
              <%= band == @band ? "selected" : "" %>>
        <%= band.name %>
      </option>
    <% end %>
  </select>

  <br>

  <label for="album_type">Album type: </label>
  live<input type="radio"
             name="album[album_type]"
             value="live"
             <%= @album.album_type == "live" ? "checked" : "" %>>
  studio<input type="radio"
             name="album[album_type]"
             value="studio"
             <%= @album.album_type == "studio" ? "checked" : "" %>>

  <br>

  <input type="submit" value="Submit">
</form>
