<h1><%= @album[:name] %></h1>

<h2>Tracks</h2>
<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to track[:name], track_url(track), action: "show" %></li>
  <% end %>
</ul>

<h2>Links</h2>
<ul>
  <li><%= link_to "Edit album", edit_album_url(@album), action: "edit"%></li>
  <li><%= link_to "Add track", new_album_track_url(@album), action: "new"%></li>
  <li><%= link_to "Delete album", album_url(@album), method: :delete %></li>
  <li><%= link_to "Back to band", band_url(@band), action: "" %></li>
</ul>
