<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>Attribute</td>
    <td>Value</td>
  </tr>
  <tr>
    <td>Age</td>
    <td><%= @cat.age %></td>
  </tr>
  <tr>
    <td>Birthdate</td>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <td>Color</td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>Sex</td>
    <td><%= @cat.sex %></td>
  </tr>
</table>

<h3><%= link_to 'Return to index', cats_url %></h3>
